

/* El * agrega estilos a todos los elementos HTML sin excepción */
* {
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 2px 2px 2px black; /* Agrega una sombra al texto */
    text-align: center; /* centra el texto */
}


/* 
    La diferencia entre color y background color es que colo
    solo cambia el color del texto, mientras que background-color
    cambia el color del fondo del elemento.
*/

body {
    background-color: darkorange;
}

h1 {
    color: white;
}